.rteImage {
	background: #D3D3D3;
	border: 1px solid #D3D3D3;
	cursor: pointer;
	cursor: hand;
}

.rteImageRaised, .rteImage:hover {
	background: #D3D3D3;
	border: 1px outset;
	cursor: pointer;
	cursor: hand;
}

.rteImageLowered, .rteImage:active {
	background: #D3D3D3;
	border: 1px inset;
	cursor: pointer;
	cursor: hand;
}

.rteVertSep {
	margin: 0 4px 0 4px;
}

.rteBack {
	background: #D3D3D3;
	border: 1px outset;
	letter-spacing: 0;
	padding: 2px;
}

.rteBack tbody tr td, .rteBack tr td {
	background: #D3D3D3;
	padding: 0;
}

.rteDiv {
	display: block;
	position: relative;
}

.rteBtConfirm li{
	display:inline;
}

.rteBtConfirm li span{
	display:block;
	float:right;
	height:16px;
	border:1px solid #FFFFFF;
	padding:0 5px;
	color:#545454;
	font-size:11px;
	font-weight:normal;
	margin:5px 6px 5px 0;
	background-color: #D3D3D3;
}

.rteBtConfirm li span:hover, .rteBtConfirm li span.Hover{
	border:1px solid #000000;
	text-decoration:none;
        cursor:pointer;
        font-weight:bold;
}