.titulo
{
  font-family: arial, verdana;
  font-size: 15pt;
  font-weight: bold;
  color: #6F3395;
}

.subtitulo
{
  font-family: arial, verdana;
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}

.bgcolor
{
  background-color: #6F3395;
}

.colorfield
{
  font-family: arial, verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #6F3395;
}

.menu
{
  font-family: arial, verdana;
  font-size: 9pt;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #6F3395;
}

.menu2
{
  font-family: arial, verdana;
  font-size: 9pt;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #7F43a5;
}

.menu3{ 
  font-family: arial, verdana; 
  font-size: 9pt; 
  font-weight: bold; 
  color : #FFFFFF; 

  background-color : #9357BB; 
} 

.block {
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #0000ff;
  position: absolute;
  visibility: hidden;
}

