.titulo
{
  font-family: arial, verdana;
  font-size: 15pt;
  font-weight: bold;
  color: #632500;
}

.subtitulo
{
  font-family: arial, verdana;
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}

.bgcolor
{
  background-color: #632500;
}

.colorfield
{
  font-family: arial, verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #632500;
}

.menu
{
  font-family: arial, verdana;
  font-size: 9pt;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #632500;
}

.menu2
{
  font-family: arial, verdana;
  font-size: 9pt;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #8b3500;
}
.block {
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #0000ff;
  position: absolute;
  visibility: hidden;
}

/********************************************************
 CSS para a agenda/calendário 
 *******************************************************/
.calendario_tabela{
	font-family:arial;
	font-size:10px;
	border:1px solid #999999;
	background:#F5F5F5;
        width:100%;
}
.calendario_dias{
	background:#FFFFFF;
	padding:2px;
	width:14%;        
}
.calendario_semana{
	background:#632500;
	color:#FFFFFF;
	text-align:center;
	font-weight:bold;   
        width:100%;
}
.calendario_hoje{
	font-weight:bold;
}
.calendario_domingos{
	color:#FF0000;
}
.calendario_mes_ano{
	text-align:center;
	font-weight:bold;
	color:#632500;
        font-size:1.5em;
        width:100%;
}
